*{
    box-sizing: border-box;
   
  }
  .form{
    border: 1px solid black;
    padding: 12px;
    width: 90%;
    height: 33vh;
  }
  .middle{
    margin-right: 25px;
  }
  
  .btnr{
    margin-left: 20px;
  }
  
  .debtors{
    margin-top: 12px;
  }
  
  .credit{
    margin-top: 12px;
    margin-left: 60px;
    margin-right: 15px;
    width: 20%;
    height: 60vh;
    border: 1px solid black;
    text-align: center;
    padding: 0;
  }
  
  .previous a {
    text-decoration: none;
    list-style: none;
    color: black;
  }
 
  .next a{
    text-decoration: none;
    list-style: none;
    color: black;
  }

  .previous,.next{
    font-weight: bold;
    border: 1px solid black;
    height: 40px;
  }
   
  .active{
    background-color: rgb(49, 167, 159);
  }

 
  
  label{
    color: blue;
  }


  *{
    box-sizing: border-box;
    margin: 0;
  }
  .form1{
    padding: 12px;
    width: 100%;
    height: 36vh;
  }
  
  label{
    color: blue;
  }
  
  .modal-footer{
    text-align: center;
  }